<% address_id = 's' %>
<fieldset class="col-md-6  col-sm-6 ">
  <div class="form-group  ">
    <%= f.text_field :firstname, :class => 'form-control', :placeholder => Spree.t(:first_name)  %>
  </div>
  <div class="form-group">
    <%= f.text_field :lastname, :class => 'form-control', :placeholder => Spree.t(:last_name)  %>
  </div>
  <div class="form-group">
    <%= f.phone_field :phone, :class => 'form-control', :placeholder => Spree.t(:phone)  %>
  </div>
  <div class="panel-body text-center">  
    <%= image_tag @measurement_set.customer.icon.url(:mini) %>    
  </div>

</fieldset>
<fieldset class="col-md-6  col-sm-6 ">
  <div class="form-group">
    <%= f.text_field :address1, :class => 'form-control', :placeholder => Spree.t(:street_address)  %>
  </div>
  <div class="form-group">
    <%= f.text_field :address2, :class => 'form-control', :placeholder => Spree.t(:street_address_2)  %>
  </div class="form-group">
  <div class="form-group">
    <%= f.text_field :city, :class => 'form-control', :placeholder => Spree.t(:city)  %>
  </div>
  <div class="form-group">
    <%= f.text_field :zipcode, :class => 'form-control', :placeholder => Spree.t(:zip)  %>
  </div>
  <div class="form-group">
      <%= f.collection_select :country_id, available_countries, :id, :name, {} %>
  </div>
  <div class="form-group">
      <%= f.collection_select :state_id, f.object.country.states.sort, :id, :name, {:include_blank => true} %>
  </div>


</fieldset>

