<% address_id = 's' %>
<% address_type = 'shipping' 
   address_id = address_type.chars.first
   address = Spree::Address.new 
   address.country_id = 49 # US
%>
<fieldset class="col-md-6  col-sm-6 ">
<div class="inner"  data-hook=<%="#{address_type}_inner" %>>
  <div class="form-group  ">
    <%= f.text_field :firstname, :class => 'form-control', :placeholder => "#{Spree.t(:first_name)}*"  %>
  </div>
  <div class="form-group">
    <%= f.text_field :lastname, :class => 'form-control', :placeholder => "#{Spree.t(:last_name)}*"  %>
  </div>
  <div class="form-group">
    <%= f.phone_field :phone, :class => 'form-control', :placeholder => Spree.t(:phone)  %>
  </div>
  <div class="panel-body text-center">  
    <%= image_tag @measurement_set.customer.icon.url(:mini) %>    
  </div>
</div>
</fieldset>

<fieldset class="col-md-6  col-sm-6 ">
  <div class="form-group">
    <%= f.text_field :address1, :class => 'form-control', :placeholder => "#{Spree.t(:street_address)}*"  %>
  </div>
  <div class="form-group">
    <%= f.text_field :address2, :class => 'form-control', :placeholder => Spree.t(:street_address_2)  %>
  </div class="form-group">
  <div class="form-group">
    <%= f.text_field :city, :class => 'form-control', :placeholder => "#{Spree.t(:city)}*"  %>
  </div>
  <div class="form-group">
    <%= f.text_field :zipcode, :class => 'form-control', :placeholder => "#{Spree.t(:zip)}*"  %>
  </div>

  <% if Spree::Config[:address_requires_state] %>
    <p class="field" id=<%="#{address_id}state" %>>
      <% have_states = !address.country.states.empty?
      %>
      <% state_elements = [
         f.collection_select(:state_id, address.country.states,
                            :id, :name,
                            {:include_blank => true},
                            {:class => have_states ? 'form-control required' : 'form-control hidden',
                            :disabled => !have_states}) +
         f.text_field(:state_name,
                            :class => !have_states ? 'form-control required' : 'form-control hidden',
                            :placeholder => "#{Spree.t(:state_name)}*",
                            :disabled => have_states)
         ].join.gsub('"', "'").gsub("\n", "")
      %>
      <%= javascript_tag do -%>
        $('#<%="#{address_id}state" %>').append("<%== state_elements %>");
      <% end %>
    </p>
      <noscript>
        <%= f.text_field :state_name, :class => 'form-control required' %>
      </noscript>
  <% end %>

  <p class="field" id=<%="#{address_id}country" %>>
    <span id=<%="#{address_id}country-selection" %>>
      <%= f.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'form-control required'} %>
    </span>
  </p>




</fieldset>

