<div >
  <%= puts "//////////////////////// #{0}"%>
  <h1><%= @measurement_set.measure_items[0].measure.name %></h1>
  <div class="well text-right form-buttons" data-hook="buttons">
     <%= form.fields_for :measure_items[0] do |measure_item_field| %> 
        <h3> Value: <%= measure_item_field.text_field :value %>  </h3>       
    <% end %>
  </div>
</div>
<div class="container">
  <div class=" col-sm-4">
    <%= link_to "< previus ", '#', :class => 'col-sm-2 btn btn-lg btn-success btn-block' %>
  </div >
  <div class=" col-sm-4 pull-right">
    <%= submit_tag "> next ", :class => 'col-sm-2 btn btn-lg btn-success btn-block ' %>
  </div >
</div>
<br>
